@model Customer
@{
    ViewBag.Title = "Xoá người dùng";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Customer/Delete/@Model.CustomerId" method="post">
            <div class="form-group">
                <label class="form-label">Tên khách hàng: </label>
                <p class="form-control-static"> @Model.CustomerName </p>
            </div>

            <div class="form-group">
                <label class="form-label">Tên giao dịch: </label>
                <p class="form-control-static"> @Model.ContactName </p>
            </div>

            <div class="form-group">
                <label class="form-label">Điện thoại: </label>
                <p class="form-control-static"> @Model.Phone </p>
            </div>

            <div class="form-group">
                <label class="form-label">Email:</label>
                <p class="form-control-static"> @Model.Email </p>
            </div>

            <div class="form-group">
                <label class="form-label">Địa chỉ:</label>
                <p class="form-control-static"> @Model.Address </p>
            </div>

            <div class="form-group">
                <label class="form-label">Tỉnh/Thành</label>
                <p class="form-control-static"> @Model.Province </p>
            </div>

            <div class="form-group">
                <label class="form-label">Trạng thái:</label>
                <p class="form-control-static"> @Model.IsLocked ? "Khách hàng bị khoá": "Khách hàng không bị khoá" </p>
            </div>

            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        Xác nhận xoá
                    </button>
                } else
                {
                    <span style="color:red"> Không được phép xoá khách hàng này </span>
                }
                <a href="~/Customer" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>

