@model Customer
@{

}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Customer/Save" method="post">
            <input type = "hidden" name="@nameof(Model.CustomerID)" value="@Model.CustomerID" />
            <div class="form-group">
                <label class="form-label">Tên khách hàng: </label>
                @Html.TextBoxFor(m=>m.CustomerName, new { @class="form-control", @autofocus = "autofocus" })
                @Html.ValidationMessage(nameof(Model.CustomerName))
            </div>

            <div class="form-group">
                <label class="form-label">Tên giao dịch: </label>
                <input type="text" class="form-control" name="@nameof(Model.ContactName)" value="@Model.ContactName"/>
                @Html.ValidationMessage(nameof(Model.ContactName))
            </div>

            <div class="form-group">
                <label class="form-label">Điện thoại: </label>
                <input type="text" class="form-control" name="@nameof(Model.Phone)" value="@Model.Phone"/>
            </div>
            
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input type="email" class="form-control" name="@nameof(Model.Email)" value="@Model.Email"/>
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                <label class="form-label">Địa chỉ:</label>
                <input type="text" class="form-control" name="@nameof(Model.Address)" value="@Model.Address"/>
                @Html.ValidationMessageFor(m => m.Address)
            </div>

            <div class="form-group">
                <label class="form-label">Tỉnh/Thành</label>
                @Html.DropDownListFor(m => m.Province, SelectListHelper.Provinces(), new { @class = "form-control select2" })
                @Html.ValidationMessageFor(m => m.Province)
            </div>

            <div class="form-group">
                <label class="form-label">Trạng thái:</label>
                <select class="form-control">
                    @if (Model.IsLocked) {
                        <option value="false"> Khách hàng không bị khoá </option>
                        <option value="true" selected> Khách hàng bị khoá </option>
                    } else {
                        <option value="false" selected> Khách hàng không bị khoá </option>
                        <option value="true"> Khách hàng bị khoá </option>
                    }
                </select>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    Lưu dữ liệu
                </button>
                <a href="~/Customer" class="btn btn-default">
                    Quay lại    
                </a>
            </div>
        </form>
    </div>
</div>
