@model ProductSearchInput

@{
    ViewBag.Title = "Quản lý sản phẩm";
}

<div class="box box-primary">
    <div class="box-body">
        <!-- Form để nhập đầu vào tìm kiếm -->
        <form id="formSearch" action="/Product/Search" method="get" data-container="#searchResult">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
            <div class="row">
                <div class="col-sm-3">
                    <label>Loại hàng:</label>
                    @Html.DropDownList("CategoryID", SelectListHelper.Categories(), new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    <label>Nhà cung cấp:</label>
                    @Html.DropDownList("SupplierID", SelectListHelper.Suppliers(), new { @class = "form-control" })
                </div>
                <div class="col-sm-1">
                    <label>Giá từ:</label>
                    <input type="text" class="form-control" name="@nameof(Model.MinPrice)" value="@Model.MinPrice.ToString("N0")" oninput="formatNumber(this)">
                </div>
                <div class="col-sm-1">
                    <label>đến:</label>
                    <input type="text" class="form-control" name="@nameof(Model.MaxPrice)" value="@Model.MaxPrice.ToString("N0")" oninput="formatNumber(this)">
                </div>
                <div class="col-sm-4">
                    <label>Tên mặt hàng cần tìm:</label>
                    <div class="input-group">
                        <input name="@nameof(Model.SearchValue)" type="text" class="form-control" placeholder="Nhập mặt hàng hàng cần tìm" autofocus value="@Model.SearchValue">
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <a href="/Product/Create" class="btn btn-primary" style="margin-left:5px">
                                <i class="fa fa-plus"></i> Bổ sung
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Hiển thị dữ liệu -->
        <div id="searchResult">
        </div>

        
    </div>
        
</div>


<script>
    // function formatNumber(elem) {
    //     console.log("formating number...");
    //     var value = elem.value;
    //     var numericValue = value.replace(/[^0-9]/g, '');
    //     var formattedValue = Number(numericValue).toLocaleString();
    //     elem.value = formattedValue;
    // }
</script>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                paginationSearch(this, 1);
                return;
            });
            paginationSearch("#formSearch", @Model.Page);
        });

        function paginationSearch(formSearch, page) {
            var action = $(formSearch).prop("action");
            var method = $(formSearch).prop("method");
            var container = $(formSearch).data("container");

            var searchData = $(formSearch).serializeArray();
            searchData.push({ "name": "Page", "value": page });

            $.ajax({
                url: action,
                type: method,
                data: searchData,
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $(container).html(data);
                }
            });
        }
    </script>
}